/* app css stylesheet */
.header {
  text-align: center;
  border-bottom: 2px solid black;
  margin-bottom: 30px;
}

.btn_row {
  margin: 15px;
  text-align: center;
}

.btn {
 /* background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
 */ margin-right: auto;
  margin-left: auto;
  width: 300px;
  font-family: Arial;
  /*color: #ffffff;*/
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.centered {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.flag, .map {
  width: 100px;
}

